html{
  background-color: darkgray;
}
#head3{
  margin: 0px;  
  color: blue;
  font-size: 30px;
}
#head2{
  color: green;
  font-size: 20px;
  font-family: monospace;
}

p{
  color: darkgreen;
  border: 5%;
}
img{
  height: 200px;
  width: 200px;

}
#head1 {
color: green;
font-size: 30px;
background-color: black;
}
#list1  {
  background-color: aqua;
  border: 2px solid green;
}
#list2 {
  background-color: blue;
  border: 2px solid red;
}

#list3{
  background-color: blueviolet;
  border: 2px solid purple;
}
