body{
    background: grey;
}
h2{
    padding: 0%;
    text-align: center;
    border: 1px solid black;
    background-color: green;
    width: 15%;
}

form{    
background-color: white;
width: 20%;
border: 3px solid black;
position: inherit;
}
#signup{
    background-color: green;
}
#fname, #lname, #phone, #email{
    background-color: bisque;
}