*{
      padding: 0;
      margin: 0;
    }
body{
  background-color: blueviolet;
}
table{
  background: blue;
  border: 2px solid green;
  width: 80%
}
tr{
  border: 2px solid green;
  
}
th{
  background: gray;
  border: 2px solid green;
}
td{
  background: lightblue;
  border: 2px solid green;
}
.car
{
  color: blue;
  font: size 30px;;
}
.fruits
{
  background-color: green;
  padding: 20px;
}